<% content_for :main do %>
<div id="index-main" class="section group">
	<h1>Welcome!</h1>

	<p class="intro-info">
		This is a an app I created to gather together some random, smaller projects.
	</p>

	<div id="implementations">
	    <!-- <img src='assets/thoughts.png'> -->
	        <!-- <span>
	            I didn't want the pressue to fill entire blog posts. So I created a way to keep track of short thoughts... then I filled it with funny tweets.
	        </span> -->
	    <!-- <img src='assets/minesweeper.png'> -->
	    <!--     <span>
	            Everybody remembers minesweeper! Give it a shot, you won't be disappointed. Nostalgia Hoooooo!
	        </span> -->
        <!-- <img src='assets/notes.png'> -->
        <!-- <span>
            I wanted a way for people to leave messages directly on here. Plus, I saw something that was like this and I thought, that might be fun to make!
        </span> -->
        <!-- <img src='assets/cards.png'> -->
        <!-- <span>
            I've never played Cards Against Humanity, but I have played Apples to Apples. While fun/funny enough, Cards Against Humanity just looks hilarious. So, I looked up the cards and now I've got a page I can have on a second monitor that I can look to for a giggle.
        </span> -->
        <!-- <img src='assets/scattergories.png'> -->
        <!-- <span>
            I've been meaning to go back and create a Scattergories implementation that would involve multiplayer, but Skype will have to do for now.
        </span> -->
	

	    <div data-src="assets/thoughts.png"></div>
	    
	    <div data-src="assets/minesweeper.png"></div>
	    

	</div>

</div>

<script> randoms.landing(); </script>

<% end %>
