<% content_for :main do %>
<h1>Welcome!</h1>

<p class="intro-info">
	This is a an app I created to gather together some random, smaller projects.
</p>

<p class="intro-info">
	Here you'll find a very bad implementation of minesweeper. Also, a convenient way to get a game of scattergories going!
</p>

<span class="icon-font icon"><br><br>
</span>

<% end %>