<% content_for :main do %>
	<div id="scattergories">
		<div id="players" class="hide-when-timer">
			<ul class="player-list">
				<li><input type="text" class="player" id="player1" placeholder="player name" value="Player 1 name">
					<span class="inc-score-button score-butt tips" title="Increase Score"></span>
					<span class="dec-score-button score-butt tips" title="Decrease Score"></span>
					<input type="number" id="player1score" min='0' class="score-input" value=0 >
				</li>
			</ul>

			<strong id="add-player">Add Player <span class="plus-image"></span></strong>
		</div>
		<div id="cat-list">
			<ol class="category-list">
				<li>poop</li>
				<li>poop</li>
				<li>poop</li>
				<li>poop</li>
				<li>poop</li>
				<li>poop</li>
				<li>poop</li>
				<li>poop</li>
				<li>poop</li>
				<li>poop</li>
			</ol>
		</div>
		<div id="options">
			<div id="timer" class="show-when-timer hide-after-timer">
			<strong>3:00</strong>
		</div>
			<div id="current-letter" class="show-when-timer">
				<strong>A</strong>
			</div>
			<button id="generate-list" class="hide-when-timer btn btn-inverse">Get new list</button><br>
			<button id="clear-scores" class="hide-when-timer btn btn-inverse">Clear Scores</button><br>
			<button id="generate-letter" class="timer-begin hide-when-timer btn btn-inverse">Start Round</button><br>
		</div>

	</div>

	<script>
		randoms.scattergories()
		randoms.simpleTimer({timeLimit: 3})
	</script>
<% end %>