<% content_for :main do %>
	<div id="whatis">
		<h1>nothing to see here</h1>
		<h3 class="indented-text mini-text">...save for zoidberg</h3>

		<span class="carousel-button left icon-font">
			‹
		</span>
		<ul class="roundaboot roundabout-holder">
			<li class="roundabout-moveable-item roundabout-in-focus"><img class="zoidberg" src="/assets/zoidberg.png"/></li>
			<li class="roundabout-moveable-item"><iframe src="//www.youtube.com/embed/_zA-n6BFTbI" frameborder="0" allowfullscreen></iframe></li>
			<li class="roundabout-moveable-item"><img class="zoidberg" src="/assets/zoidberg-minesweeper.png"/></li>
			<li class="roundabout-moveable-item"><img class="zoidberg" src="/assets/zoidberg-paying-attention.png"/></li>
			<li class="roundabout-moveable-item"><iframe src="//www.youtube.com/embed/u0J5f1VS6TM" frameborder="0" allowfullscreen></iframe></li>
		</ul>
		<span class="carousel-button right icon-font">
			›
		</span>
	</div>

	<script>
		randoms.whatis()
	</script>
<% end %>

<!-- http://www.youtube.com/watch?v=_zA-n6BFTbI -->