<% content_for :main do %>
	<div id="cards-against-single">
		<div id="cards-area" class="section group">
			<div id="black-card-area" class="col span_1_of_2 card-area">
				<div id="black-card" class="card">
					<span class="card-text">
						<%= @cards['black'] %>
					</span>
				</div> 
			</div>
			<div id="white-card-area" class="col span_1_of_2 card-area">
				<div id="white-card" class="card">
					<span class="card-text">
						<%= @cards['white'] %>
					</span>
				</div>
			</div>
		</div>

		<div id="locks-wrapper" class="section group">
			<div id="lock-black" class="lock-wrapper col span_1_of_2"><span id="blackLocked" class="icon-font lock-icon">ê</span></div>
			<div id="lock-white" class="lock-wrapper col span_1_of_2"><span id="whiteLocked" class="icon-font lock-icon">ê</span></div>	
		</div>

		<div id="description-area" class="col span_1_of_3">
			<h3>What's this?</h3>

			<p><a href="http://cardsagainsthumanity.com/" target="_blank">Cards Against Humanity</a></p>
		</div>

		<div id="options-area" class="col span_2_of_3">
			<!-- Slider goes here
			<button id="get-both">New Black & White</button>
			<button id="get-black">New Black Card</button>
			<button id="get-white">New White Card</button> -->
		</div>
	</div>

	<script>randoms.cardsAgainstSingle()</script>
<% end %>