div#minesweeper-main {

	div#words_space {
		h1.input-header {

		}

		div.input-title {
			width:100%;
			font-size: 20px;
			padding-left: 10px;
			float:left;

			input { 
				text-align: middle; 
				float:right;
			}
		}

		input.mine-input {
			padding-left: 5px;
			text-align:center;
		}

		button#generate-board {
			float:right;
			margin-left: 15px;
			margin-bottom: 10px;
			margin-right:-2.5%;
		}

		div.status-header {
			line-height: 35px;
			padding-top: 50px;
			font-size: 30px;
			color: #3F3F3F;
		}

		div#controls {
			margin-top: 15%;
			width: 100%;

			ul > li > strong { font-size: 17px; }
		}
	}

	div#board_space {
		table#mineboard {
			margin-left: 15%;

			tbody tr {
				padding-top: 5px;
				margin-left: 10%;

				.boardspot {
					background-color: #333;
					width: 25px;
					height: 25px;
					padding: 5px;
					border: 1px;
					border: solid #E5E5E5;
					border-width: 1px 1px;
					cursor: default;

					&.revealed {
						// background-color: #999;

						strong.spotval {
							padding-left: 10px;
							display: inline;
							&.minespot { 
								font-size: 125%;
								padding-left: 5px;
							}
						}

						.flagspot { display: none; }
					}

					&.flagged {
						.flagspot { display: inline; }
					}

					.flagspot { 
						display: none; 
						color: #FFFFFF;
						padding-left: 30%;
					}

					strong.spotval {
						display: none;
					}
				}
			}
		}

	}

	.minesweeper-board {
		.spot {
			background-color: #ccc;

			.revealed {
				.mine {
					background:url(glyphicons-halflings.png) transparent;
					background-position: -72px -120px;
				}

				.empty {
					background-color: #333;
				}
			}

			.flagged {
				background:url(glyphicons-halflings.png) transparent;
				background-position: -408px -144px;
			}
		}
	}
}