@font-face {
  font-family: sosa-regular-webfont;    
  src: url('/assets/sosa-regular-webfont.woff') format('woff'); 

  font-weight: normal;
  font-style: normal;
}

span.icon-font {
	font-family: sosa-regular-webfont;
	src: url(sosa-regular-webfont.woff);
	padding-left: 3px;
}

.status-header {
	margin-left: 35%;
	font-size: 30px;
	color: #3F3F3F;
}

.mini-text {
	font-size: 15px;
}

body { font-family: 'Lato', sans-serif; }

#header-bar {
	padding: 10px;
	margin-bottom: 0px;

	// background-color: #333;
	background-color: #121F2E; 
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3E4B5D), to(#121F2E));
   	background-image: -webkit-linear-gradient(top, #3E4B5D, #121F2E); 
   	background-image:    -moz-linear-gradient(top, #3E4B5D, #121F2E);
   	background-image:     -ms-linear-gradient(top, #3E4B5D, #121F2E);
   	background-image:      -o-linear-gradient(top, #3E4B5D, #121F2E);
	
	ul li a {
		color: #759CC9;
	}
}

div#main {
	padding:20px;
	height:50em;

	// color: #ffffff;
	// background-color: #2E5077;
	background-color: #E5E5E5;
}

#nav-list li {
	display:inline;
	padding-left: 15px;
	font-size: 15px;

	// a.nav-link span.icon-font {
	// 	font-family: sosa-regular-webfont;
	// 	src: url(sosa-regular-webfont.woff);
	// }	

	a.nav-link:hover {
		text-decoration: none;
		color: #ffffff;
	}
}

#page-load-overlay{
	width: 100%;
	height: 100%;
	background: #F1F1F1;
	position: absolute;
	opacity: 0.8;
	margin-left: -20px;
	margin-top: -20px;
	z-index: 1000;
}

.page-loader {
	position: absolute;
	margin-left: 45%;
	margin-top: 20%;
}