@font-face {
  font-family: 'sosa-regular-webfont';    
  src: url('/assets/sosa-regular-webfont.woff') format('woff'); 

  font-weight: normal;
  font-style: normal;
}

div#scattergories {
	div#players {
		display: inline;
		float: left;
		width: 40%;
		height: 40em;

		strong#add-player {
			float: left;
			padding-bottom: 10px;
			margin-left: 35%;
			cursor: hand; cursor: pointer;

			span.plus-image {
				height: 20px;
				width: 20px;
				float: right;
				margin-left: 6px;
				margin-top: -17px;
				background:url(glyphicons-halflings.png) transparent;
				background-position: -408px -96px;
			}
		}

		ul.player-list {
			height: 80%;
			list-style-type: none;
			overflow-y: scroll;

			li {
				display: inline-block;
				width: 80%;

				.player {
					float: left;
					width: 35%;
					text-align: center;
				}

				.score-butt {
					background:url(glyphicons-halflings.png) transparent;
					width: 20px;
					display: inline-block;
					height: 20px;
					margin-left: 16px;
					margin-top: 5px;
					cursor: hand; cursor: pointer;

					&.inc-score-button {
						background-position: -408px -96px;
					}

					&.dec-score-button {
						background-position: -433px -96px;
					}
				}
				
				.score-input {
					float: right;
					width: 35%;
					text-align: center;
				}
			}
		}
	}

	div#options{
		button {
			width: 12%;
		}

		div#current-letter {
			padding: 10px;

			strong {
				padding-left: 3%;
				font-size: 100px;
			}
		}
	}

	div#cat-list {
		float:right;
		width: 48%;

		ol.category-list {
			margin-left: 18%;

			li {
				font-size: 25px;
				padding-top: 20px;
			}
		}
	}

}

table#mineboard > tbody > tr {
	padding-top: 5px;
	margin-left: 10%;
}

.status-header {
	margin-left: 35%;
	font-size: 30px;
	color: #3F3F3F;
}

.boardspot {
	background-color: #333;
	width: 25px;
	height: 25px;
	padding: 5px;
	border: 1px;
	border-color: #ccc;

	&.revealed {
		background-color: #999;

		strong.spotval {
			padding-left: 10px;
			display: inline;
		}
	}

	strong.spotval {
		display: none;
	}
}

.input-header {

}

.input-title {
	font-size: 20px;
	padding-left: 10px;
}

.mine-input {
	padding-left: 5px;
}

.mini-text {
	font-size: 15px;
}

#generate-board {
	margin-left: 15px;
	margin-bottom: 10px;
}

.minesweeper-board {
	.spot {
		background-color: #ccc;

		.revealed {
			.mine {
				background:url(glyphicons-halflings.png) transparent;
				background-position: -72px -120px;
			}

			.empty {
				background-color: #333;
			}
		}

		.flagged {
			background:url(glyphicons-halflings.png) transparent;
			background-position: -408px -144px;
		}
	}
}

body { font-family: 'Lato', sans-serif; }

#header-bar {
	padding: 10px;
	margin-bottom: 0px;

	// background-color: #333;
	background-color: #121F2E; 
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3E4B5D), to(#121F2E));
   	background-image: -webkit-linear-gradient(top, #3E4B5D, #121F2E); 
   	background-image:    -moz-linear-gradient(top, #3E4B5D, #121F2E);
   	background-image:     -ms-linear-gradient(top, #3E4B5D, #121F2E);
   	background-image:      -o-linear-gradient(top, #3E4B5D, #121F2E);
	
	ul li a {
		color: #759CC9;
	}
}

div#main {
	padding:20px;
	height:50em;

	// color: #ffffff;
	// background-color: #2E5077;
	background-color: #E5E5E5;
}

#nav-list li {
	display:inline;
	padding-left: 15px;
	font-size: 15px;

	a.nav-link span.icon-font {
		font-family: sosa-regular-webfont;
		src: url(sosa-regular-webfont.woff);
	}	

	a.nav-link:hover {
		text-decoration: none;
		color: #ffffff;
	}
}

span.icon-font {
	font-family: sosa-regular-webfont;
	src: url(sosa-regular-webfont.woff);
	padding-left: 3px;
}

span.carousel-button {
	font-size: 30px;
	position: absolute;
	cursor: hand; cursor: pointer;

	&.left {
		float:left;
		margin-top: 23%;
	}

	&.right {
		float:right;
		margin-left: 95%;
		margin-top: -22%;
	}
}

ul.roundaboot {
	margin-left: 19.3%;

	li {
	 	iframe {
			width: 100%;
			height:100%;
		}
		img.zoidberg {
			width: 100%;
			height: 100%;
		}
	}
}