@font-face {
  font-family: sosa-regular-webfont;    
  src: url('/assets/sosa-regular-webfont.woff') format('woff'); 

  font-weight: normal;
  font-style: normal;
}

.icon-font {
	font-family: sosa-regular-webfont;
	src: url(sosa-regular-webfont.woff);

	&.header-icon { padding-left: 3px; }

	&#cards-against-icon { font-size: 30px; }

	&#thoughts-icon { font-size: 20px; }

}

.mini-text {
	font-size: 15px;
}

body { 
	font-family: 'Lato', sans-serif; 
	background-color: #E5E5E5;
}

#header-bar {
	padding: 10px;
	margin-bottom: 0px;
	width: 100%;
	position: fixed;
	z-index: 10000;

	// background-color: #333;
	background-color: #121F2E; 
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3E4B5D), to(#121F2E));
   	background-image: -webkit-linear-gradient(top, #3E4B5D, #121F2E); 
   	background-image:    -moz-linear-gradient(top, #3E4B5D, #121F2E);
   	background-image:     -ms-linear-gradient(top, #3E4B5D, #121F2E);
   	background-image:      -o-linear-gradient(top, #3E4B5D, #121F2E);
	
	ul li a {
		color: #759CC9;
	}
}

div#main {
	padding:20px;
	height:50em;
	padding-top: 5%;

	// color: #ffffff;
	// background-color: #2E5077;
	// background-color: #E5E5E5;
}

#nav-list li {
	display:inline;
	padding-left: 15px;
	font-size: 15px;

	// a.nav-link span.icon-font {
	// 	font-family: sosa-regular-webfont;
	// 	src: url(sosa-regular-webfont.woff);
	// }	

	a.nav-link:hover {
		text-decoration: none;
		color: #ffffff;
	}
}

#page-load-overlay{
	width: 100%;
	height: 100%;
	background: #F1F1F1;
	position: fixed;
	opacity: 0.8;
	margin-left: -20px;
	margin-top: -20px;

	z-index:9999;
}

#modal-overlay{
	display:none;
	width: 100%;
	height: 100%;
	background: #333333;
	position: fixed;
	opacity: 0.9;
	margin-left: -20px;
	margin-top: -20px;

	z-index:9999;

	&.show {
		display: inline;
  		animation: fadein 2s;
	    -moz-animation: fadein 2s; /* Firefox */
	    -webkit-animation: fadein 2s; /* Safari and Chrome */
	    -o-animation: fadein 2s;
	}
}


.page-loader {
	z-index: 10000;
	position: absolute;
	margin-left: 45%;
	margin-top: 20%;
}

#confirmOverlay{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background: #121F2E;
  background:rgba(51,51,51,0.85);
  z-index:100000;
}

#confirmBox{
  background:#f5f5f5;
  width:450px;
  position:fixed;
  left:50%;
  top:50%;
  margin:-130px 0 0 -230px;
}

#confirmBox h1, #confirmBox p{
  padding:10px 20px;
  color:#666;
}

#confirmBox h1{
  font-size:18px;
  color:#888;
  border-bottom:1px solid #e3e3e3;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
}

#confirmBox p {
  background:none;
}

#confirmButtons{
  padding:10px 20px;
  float: right;
}

#confirmBox .bttn:last-child{ margin-right:0; }
#confirmBox .bttn {
  margin-right:10px;
}

// #index-main {
// 	#implementations {

// 		img {
// 			border: 2px solid #000000;
// 			height: 80%;
// 			width: 70%;
// 		}
// 	}
// }

