div#thoughts {

	div#thoughts-top {
		width: 100%;
		height: 20%;

	}

	div#add-thought-modal{
		display:none;
		width: 40%;
		height: 30%;
		margin-left: 30%;
		top: 35%;
		z-index: 10001;
		position:absolute;
		background-color: #E5E5E5;

		#thought-input {
			padding: 5%;

			textarea { width: 97%; }
			button { 
				float: right;
				padding: 5px;
				
				&#close-thought-modal { margin-right: 10px; }
			}
		}
	}
	
	div#thoughts-area {
		padding-top: 5%;
		height: 80%;
		
		div{
			display: inline-block;


			.thought-card {

				float: left;
				width: 19%;
				height: auto;
				// background-color: #34D0B6;
				color: #FFFFFF;
				margin: 10px;

				-webkit-border-top-right-radius: 10px;
				-webkit-border-bottom-right-radius: 10px;
				-webkit-border-bottom-left-radius: 10px;
				-moz-border-radius-topright: 10px;
				-moz-border-radius-bottomright: 10px;
				-moz-border-radius-bottomleft: 10px;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;

				&.theme1 { background-color: #3C9DD0; .thought-header,.thought-bottom-bar { background-color: #086CA2; } }
				&.theme2 { background-color: #62D9A9; .thought-header,.thought-bottom-bar { background-color: #00B454; } }
				&.theme3 { background-color: #6B8FD4; .thought-header,.thought-bottom-bar { background-color: #1144AA; } }
				&.theme4 { background-color: #33CEC3; .thought-header,.thought-bottom-bar { background-color: #11867D; } }
				&.theme5 { background-color: #F80012; .thought-header,.thought-bottom-bar { background-color: #A2000C; } }
				// &.theme6 { background-color: #F80012; .thought-header,.thought-bottom-bar { background-color: #1DD300; } }
				&.theme7 { background-color: #540EAD; .thought-header,.thought-bottom-bar { background-color: #FFE900; } }
				&.theme8 { background-color: #FF6CD0; .thought-header,.thought-bottom-bar { background-color: #009E8E; } }
				&.theme9 { background-color: #102E37; .thought-header,.thought-bottom-bar { background-color: #2BBBD8; } }
				&.theme10 { background-color: #218559; .thought-header,.thought-bottom-bar { background-color: #06A2CB; } }
				&.theme11 { background-color: #74A6BD; .thought-header,.thought-bottom-bar { background-color: #7195A3; } }
				&.theme12 { background-color: #397249; .thought-header,.thought-bottom-bar { background-color: #C7E1BA; } }
				&.theme13 { background-color: #097054; .thought-header,.thought-bottom-bar { background-color: #FFDE00; } }

				&.maximize {
					height: 350px;
					width: 350px;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;

					.thought-content { height: 85%; }
				}

				.thought-header {
					// background-color: #00A287;
					width: 100%;
					height: 20px;
					-webkit-border-top-right-radius: 10px;
					-moz-border-radius-topright: 10px;
					border-top-right-radius: 10px;

					span { 
						padding-right: 5px;
						float: right;

						&:hover{
							cursor: pointer;
							color: #3AA6D0;
						}
						&.hidden { display: none; }
					}
					
				}

				.thought-content {

					padding: 5px;
					height: auto;

					strong:hover {
						cursor: pointer;
						color: #3AA6D0;
					}

					span.actual-thought {
						display: none;
					}

				}

				.thought-bottom-bar {
					width: 100%;
					height: 20px;
					
					border-bottom-right-radius: 10px;
					border-bottom-left-radius: 10px;
					-webkit-border-bottom-right-radius: 10px;
					-webkit-border-bottom-left-radius: 10px;
					-moz-border-radius-bottomright: 10px;
					-moz-border-radius-bottomleft: 10px;
					
					span {
						padding: 0px 5px;

						&:hover {
							cursor: pointer;
							color: #3AA6D0;
						}

						&.comments { float: right; }
						&.thumbs > .icon-font {
							padding: 0px;
						}
					}
				}
			}
		}
	}	
}