div#thoughts {

	div#thoughts-top {
		width: 100%;
		height: 20%;
		
		#add-thought-button { margin-left: 40%; }

		.link-to-github {
			margin-left: 35%;
			margin-top: 10px;

			span a{
				font-size: 50px;	
				text-decoration:none;
				&:hover { }
				
			}
		}
	}

	div#comment-modal {

		display:none;
		width: 60%;
		height: 80%;
		margin-left: 20%;
		top: 10.5%;
		z-index: 10001;
		position: fixed;
		background-color: #E5E5E5;

		#comments-area {
			overflow-y: scroll;
			width: 90%;
			height: 55%;
			margin: 5%;
			
			ul#comments-list {
				margin-left: 0;
				list-style-type: none;

				li.comment {
					border: dashed #000;
					border-width: 1px 1px;
					margin-top: 2px;
					margin-bottom:2px;

					&.awaiting-delete { opacity: 0.2; }

					.delete-comment {
						float:right;
						margin: 3% 5% 0 0;

						.hidden { display: none; }
						

						.loader {
							opacity: 1;
							width: 50%;
						}

						.icon-font {
							font-size: 20px;	
							cursor: pointer;
						}
					}

					.author {
						margin-left: 5px;
					}
					
					.content {
						margin-top: -10px;
						margin-left: 5px;
					}
				}
			}

		}

		#add-comment-area {

			padding: 5%;
			position:absolute;
			bottom: -20px;

			textarea { width: 97%; resize: none;}
			button { 
				float: right;
				padding: 5px;
				
				&#close-comment-modal { margin-right: 10px; }
			}

			span.comment-error {
				display:none;
				margin-left: 10px;
				font-color: #A60000;
			}
		}

	}

	div#add-thought-modal{
		display:none;
		width: 40%;
		height: 30%;
		margin-left: 30%;
		top: 35%;
		z-index: 10001;
		position:fixed;
		background-color: #E5E5E5;

		#thought-input {
			padding: 5%;

			textarea { width: 97%;  resize:none;}
			button { 
				float: right;
				padding: 5px;
				
				&#close-thought-modal { margin-right: 10px; }
			}
		}
	}
	
	div#thoughts-area {
		padding-top: 5%;
		height: 80%;
		margin-left: 5%;
		
		div{
			display: inline-block;


			.thought-card {

				position: relative;
				float: left;
				width: 173px;
				height: 173px;
				color: #FFFFFF;
				margin: 5px;

				-webkit-border-top-right-radius: 10px;
				-webkit-border-bottom-right-radius: 10px;
				-webkit-border-bottom-left-radius: 10px;
				-moz-border-radius-topright: 10px;
				-moz-border-radius-bottomright: 10px;
				-moz-border-radius-bottomleft: 10px;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;

				&.theme1 { background-color: #3C9DD0; .thought-bottom-bar { background-color: #086CA2; } }
				&.theme2 { background-color: #62D9A9; .thought-bottom-bar { background-color: #00B454; } }
				&.theme3 { background-color: #6B8FD4; .thought-bottom-bar { background-color: #1144AA; } }
				&.theme4 { background-color: #33CEC3; .thought-bottom-bar { background-color: #11867D; } }
				&.theme5 { background-color: #F80012; .thought-bottom-bar { background-color: #A2000C; } }
				&.theme6 { background-color: #34D0B6; .thought-bottom-bar { background-color: #00A287; } }
				&.theme7 { background-color: #540EAD; .thought-bottom-bar { background-color: #FFE900; } }
				&.theme8 { background-color: #FF6CD0; .thought-bottom-bar { background-color: #009E8E; } }
				&.theme9 { background-color: #102E37; .thought-bottom-bar { background-color: #2BBBD8; } }
				&.theme10 { background-color: #218559; .thought-bottom-bar { background-color: #06A2CB; } }
				&.theme11 { background-color: #74A6BD; .thought-bottom-bar { background-color: #7195A3; } }
				&.theme12 { background-color: #397249; .thought-bottom-bar { background-color: #C7E1BA; } }
				&.theme13 { background-color: #097054; .thought-bottom-bar { background-color: #FFDE00; } }



				&.maximize {
					min-height: 355px;
					height: auto;
					width: 355px;
					// -webkit-border-radius: 10px;
					// -moz-border-radius: 10px;
					// border-radius: 10px;

					// .thought-content { height: 85%; }
				}

				.thought-header {
					// background-color: #00A287;
					width: 100%;
					height: 20px;
					-webkit-border-top-right-radius: 10px;
					-moz-border-radius-topright: 10px;
					border-top-right-radius: 10px;

					span { 
						padding-right: 10px;
						padding-top: 5px;
						font-size: 21px;
						float: right;

						&:hover{
							cursor: pointer;
							color: #3AA6D0;
						}
						&.hidden { display: none; }
					}
					
				}

				.thought-content {

					padding: 5px;
					height: 85%;
					overflow-y: hidden;
					font-size: 16px;
					line-height: 20px;
					cursor: default;
					overflow-x:hidden;
					width:90%;

					strong:hover {
						cursor: pointer;
						color: #3AA6D0;
					}

					span.hidden { display: none; }

					span.actual-thought { overflow-y: scroll; }

					.slightly-bigger-font {
						font-size: 17px;
						line-height: 22px;
					}

					.even-slightly-bigger-font {
						font-size: 25px;
						line-height: 30px;
					}

					.mediumly-big-font {
						font-size: 30px;
						line-height: 35px;
					}

					.big-font {
						font-size: 40px;
						line-height: 45px;
					}

					.even-bigger-font {
						font-size: 50px;
						line-height: 55px;
					}

					.really-big-font {
						font-size: 60px;
						line-height: 65px;
					}

				}

				.thought-bottom-bar {
					width: 100%;
					height: 20px;
					position: absolute;
					bottom: -1px;
					
					border-bottom-right-radius: 10px;
					border-bottom-left-radius: 10px;
					-webkit-border-bottom-right-radius: 10px;
					-webkit-border-bottom-left-radius: 10px;
					-moz-border-radius-bottomright: 10px;
					-moz-border-radius-bottomleft: 10px;
					
					span {

						&.thumbs { padding-left: 5px; }
						&.comments-icon { padding-right: 5px; }

						&:hover {
							cursor: pointer;
							color: #3AA6D0;
						}

						&.comments-icon { float: right; }
						&.thumbs > .icon-font {
							padding: 0px;
						}
					}
				}
			}
		}
	}	
}

#super-secret-page {
	.col #thoughts,#current-thoughts .thought {
		padding-top:5px;

		.thought-content, .delete {
				margin-left: 7px;
		}
	}
}