<%= content_for :main do %>
<div id="super-secret-page" class="section group">
	<div class="col span_1_of_3">
		<textarea name="" id="thought" cols="200" rows="10"></textarea><br>
		<button type="text" id="submit-thought">submit</button><br>
	</div>
	<div class="col span_2_of_3">
		<ul id="thoughts">
		<% @unapproved_thoughts.each do |thought| %>
			<li class="thought" data-id="<%= thought.id %>"><button class="btn btn-inverse approve-thought">Approve</button><button class="btn btn-inverse delete">delete</button><span class="thought-content"><%=h thought.content %></span></li>
		<% end %>
		</ul>
	</div>
</div>

<script type="text/javascript">

$('#submit-thought').click(function(){
	var sendData = { thought : {content: $('#thought').val(), thumbs: 0, approved: true }}

	$.ajax({
		url: '/thoughts',
		data: sendData,
		type: 'POST',
		dataType: 'JSON',
		success: function(data){ console.log(data); $('#thought').val('SUCCESS!') }
	})
})

$('.approve-thought').click(function(){
	var thoughtID = $(this).parent().addClass('to-remove').data('id');
	var approve_url = '/thoughts/approve/' + thoughtID
	$.ajax({
		url:  approve_url,
		type: 'POST',
		dataType: 'JSON',
		success: function(data){
			console.log(data); $('.to-remove').fadeOut().removeClass('to-remove');
		},
		error: function(data){
			console.log(data.responseText); $('.to-remove').removeClass('to-remove');
		}
	});
});

</script>

<% end %>