<div id="header-bar" class="nav">
	<ul id="nav-list">
		<li><a href="/" class="nav-link outbound">Home<span class="icon-font header-icon">Ç</span></a></li>
		<li><a href="/whatis" class="nav-link outbound">What is?<span class="icon-font header-icon">i</span></a></li>
		<li><a href="/minesweeper" class="nav-link outbound">Minesweeper<span class="icon-font header-icon">X</span></a></li>
		<!-- <li><a href="/roulette" class="nav-link">Roulette</a></li> -->
		<li><a href="/scattergories" class="nav-link outbound">Scattergories<span class="icon-font header-icon">`</span></a></li>
		<li><a href="/notes" class="nav-link outbound">Notes<span class="icon-font header-icon">é</span></a></li>
		<li><a href="/cards_against/single" class="nav-link outbound">Cards Against <span class="icon-font header-icon" id="cards-against-icon">Ý</span></a></li>
	</ul>
</div>