<div id="header-bar" class="nav">
	<ul id="nav-list">
		<li><a href="/" class="nav-link">Home</a></li>
		<li><a href="/whatis" class="nav-link">What is?</a></li>
		<li><a href="/minesweeper" class="nav-link">Minesweeper</a></li>
		<!-- <li><a href="/roulette" class="nav-link">Roulette</a></li> -->
		<li><a href="/scattergories" class="nav-link">Scattergories</a></li>
	</ul>
</div>